[submodule "PlatinumSDK"]
	path = PlatinumSDK
	url = https://github.com/gpac-buildbot/PlatinumSDK.git
[submodule "avcap"]
	path = avcap
	url = https://github.com/gpac-buildbot/avcap.git
[submodule "opensvc"]
	path = opensvc
	url = https://github.com/gpac-buildbot/opensvc.git
[submodule "openHEVC"]
	path = openHEVC
	url = https://github.com/OpenHEVC/openHEVC.git
	branch = ffmpeg_update
